<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<filter>
		<filter-name>admin</filter-name>
		<filter-class>com.vcloudairshare.server.filter.AdminFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>admin</filter-name>
		<url-pattern>/admin/*</url-pattern>
	</filter-mapping>
	<!-- Servlets -->

	<servlet>
		<servlet-name>requestFactoryServlet</servlet-name>
		<servlet-class>com.google.web.bindery.requestfactory.server.RequestFactoryServlet
		</servlet-class>
		<init-param>
			<param-name>symbolMapsDirectory</param-name>
			<!-- You'll need to compile with -extras and move the symbolMaps directory 
				to this location if you want stack trace deobfuscation to work -->
			<param-value>WEB-INF/classes/symbolMaps/</param-value>
		</init-param>
	</servlet>
	 <servlet>
    <servlet-name>homeService</servlet-name>
    <servlet-class>com.vcloudairshare.server.impl.HomeServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>homeService</servlet-name>
    <url-pattern>/vcloudairshare/home</url-pattern>
  </servlet-mapping>
	<servlet-mapping>
		<servlet-name>requestFactoryServlet</servlet-name>
		<url-pattern>/gwtRequest</url-pattern>
	</servlet-mapping>
	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>VCloudAirShare.html</welcome-file>
	</welcome-file-list>
	<error-page>
		<error-code>404</error-code>
		<location>/error.jsp?error=404</location>
	</error-page>
	<login-config>
		<auth-method>BASIC</auth-method>
	</login-config>
</web-app>